[submodule "lib/htd_validate"]
	path = lib/htd_validate
	url = https://github.com/raki123/htd_validate
[submodule "lib/nesthdb"]
	path = lib/nesthdb
	url = https://github.com/hmarkus/dp_on_dbs/
[submodule "lib/htd"]
	path = lib/htd
	url = https://github.com/TU-Wien-DBAI/htd
